body {
    display: flex;
    flex-direction: column;
    background-color: #90a2bd;
    align-items: center;
    justify-content: center;
}

.background {
    display: flex;
    background-color: #c5c9cf;
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

h1 {
    width: 600px;
    text-align: center;
    color: rgb(9, 9, 82);
}

.button {
    width: 200px;
    height: 100px;
    color: rgb(18, 18, 116);
    border-radius: 15px;
}