* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(./img/01.jpeg);
}

.backbutton{
    margin: 20px;
    background-color: rgb(190, 190, 13);
    border-radius: 15px;
    padding: 5px;
    border-color: #fff;
    border-width: 2px;
    font-size: 20px;
    color: black;
  }

.main-content {
    width: 100;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 0 10px;
}

.main-content .text-area {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.main-content .person {
    font-size: 1.5rem;
    color: brown;
    text-transform: uppercase;
    margin-top: 20px;
}

.button-area button {
    background-color: #262626;
    color: #fff;
    font-size: 1.4rem;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.button-area button:active {
    background-color: grey;
}