body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(./Sea-bg.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.button0{
    margin: 20px;
}

.background {
    width: 300px;
    height: 300px;
    background-color: black;
    top: 0;
    left: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./penguin.png');
    background-size: contain; /* This will make the image fit within the width and height limits */
  }

  .text {
    font-weight: 900;
    font-size: larger;
    color: brown;
  }