body {
    background-color: rgb(158, 214, 158);
    font-family: 'Lato', sans-serif;
}

.header {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 30px;
    
}

.rules {
    text-align: center;
    font-weight: 700;
    background-color: rgb(83, 185, 83);
    padding: 10px;
    margin-bottom: 3em;
}

.start-game {
    margin: auto;
    padding: 10px;
    border-radius: 15;
    background-color: rgb(204, 104, 142);
    font-size: large;
}

.playbox {
    justify-content: space-around;
    margin-bottom: 3em;
}

.score {
    flex-direction: column;
    align-items: center;
}

.score-message {
    text-align: center;
    margin: 10px;
}

.final-message {
    text-align: center;
    background-color: rgb(216, 138, 138);
    margin: 10px;
}

.again {
    margin: auto;
}