body {
    background-color: rgb(109, 177, 223);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 4px;
    
}

.backbutton{
    background-color: rgb(190, 190, 13);
    border-radius: 15px;
    padding: 5px;
    border-color: #fff;
    border-width: 2px;
    font-size: 12px;
    color: black;
  }

.rules {
    text-align: center;
    font-weight: 700;
    background-color: rgb(74, 126, 185);
    padding: 10px;
    margin-bottom: 10px;
}

.start-game {
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(216, 176, 191);
    font-size: large;
}

.playbox {
    justify-content: space-around;
    width: 400px;
}

.score {
    flex-direction: column;
    align-items: center;
}

.score-message {
    text-align: center;
    margin: 10px;
}

.final-message {
    text-align: center;
    background-color: rgb(216, 138, 138);
    margin: 10px;
}

.again {
    margin: auto;
}

.rock {
    background-image: url('./img/rock.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 80px;
    color: rgb(243, 195, 195);
    font-weight: 700;
}

.paper {
    background-image: url('./img/paper.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 80px;
    color: rgb(160, 107, 107);
    font-weight: 700;
}

.scissor {
    background-image: url('./img/scissors.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 80px;
    color: rgb(114, 85, 85);
    font-weight: 700;
}